@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

body {
    font-family: 'Roboto', sans-serif;
}


.wrapper {
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 32px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


.guess-number {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    border-radius: 7px;

    &>h1 {
        font-size: 64px;
    }
}

.guess-input {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &>input {
        border: 1px solid black;
        border-radius: 7px;
        padding: 8px;
        outline: none;
    }
}

.guess-status {
    display: flex;
    flex-direction: column;
    gap: 4px;


    &>* {
        font-size: 16px;
    }
}